trigger:
  - main   # Run pipeline when code is pushed to main

pool:
  name: 'azureagent'

stages:
# -------------------
# Stage 1: Build
# -------------------
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: npm install
      displayName: 'Install dependencies'

    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: |
          server.js
          package.json
          Dockerfile
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

# -------------------
# Stage 2: Test
# -------------------
- stage: Test
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: npm install
      displayName: 'Install dependencies'

    - script: npm test
      displayName: 'Run unit tests'

    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/test-results.xml'
        testResultsFormat: 'JUnit'
        failTaskOnFailedTests: true
      condition: succeededOrFailed()

# -------------------
# Stage 3: Docker Build & Push
# -------------------
- stage: Docker
  displayName: "Docker Build & Push"
  dependsOn: Test
  condition: succeeded()
  jobs:
  - job: DockerJob
    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'drop'
        downloadPath: '$(Pipeline.Workspace)/artifacts'

    - task: Docker@2
      displayName: 'Build and Push Docker image'
      inputs:
        command: 'buildAndPush'
        repository: 'azurecicdpoc'   # ACR repo name
        dockerfile: '$(Pipeline.Workspace)/artifacts/Dockerfile'
        containerRegistry: 'ACR'   # Service connection name
        tags: |
          $(Build.BuildId)
